body {
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Press Start 2P';
}

.feed, .play, .sleep {
  font-family: 'Press Start 2P';
}

.stats {
  text-align: left;
}

#timer {
  /*move down, add padding?*/
}

.buttons {
  /*increase size*/
}