body {
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Press Start 2P';
  background-color: #c6c5c0;
}

.sprite {
  height: 312.5px;
  width: 250px;
}

/*CHANGE PICTURE SIZES*/


.feed, .play, .sleep {
  font-family: 'Press Start 2P';
}

.stats {
  text-align: left;
}

#timer {
  /*move down, add padding?*/
}

.buttons {
  /*increase size*/
}

/*.fed, .love, .snooze {
  opacity: 0;
}*/