body {
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Press Start 2P';
  background-color: #c6c5c0;
}

#display {
  display: flex;
}
#display div {
    width: 33%;
}

.tennis img, .food img {
  opacity: 0;
  height: 100%;
  max-height: 100px;
}
.sprite {
  height: 312.5px;
  width: 250px;
  opacity: 0;
  padding: 0 0 20px 0;
  align-content: center;
}

/*HOW DO CAN ANIMATE?*/

#messages {
  padding: 0 0 20px 0;
}

.feed, .play, .sleep {
  font-family: 'Press Start 2P';
  font-size: 20px;
  background-color: yellow;
}

.stats {
  text-align: left;
}

#timer {
  padding: 0 0 20px 0;
}

.buttons {
  padding: 20px;
}


